<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand ms-3">Catbook</a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login" class="me-3">
        <i class="fa fa-user-circle"></i>
        <a class="ms-1 me-2">{{ user.name }}</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text me-3">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
